.header, .content
{
	padding: 0 15%;
}
body
{
	margin:0;
}
.header
{
	background-color: green;
	color: white;
}
.heading
{
	display:flex;
	justify-content: space-between;
	padding: 8px;
	align-items: center;
}
.header-content
{
	background-color:black;
	color: white; 
}
.header-content li
{
	display:inline-block;
	padding:8px;
}
.menu
{
	padding:0;
	margin: 0
}
.active
{
	border-top: 2px solid yellow;
}
.width-25
{
	    width: 25%;
}
.width-33
{
	width: 33%;
}
.default-padding
{
	padding: 4px;
}
.width-50
{
	width: 50%;
}